Source: antpm
Maintainer: Kristof Ralovich <tade60@freemail.hu>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 8), devscripts (>= 2.10), g++ (>= 4.4) | clang (>= 3.0), libboost-dev (>= 1.41) | libboost1.41-dev, cmake (>= 2.8), libusb-dev, libxml2-dev, pkg-config (>= 0.25), libboost-thread-dev,libboost-filesystem-dev,libboost-system-dev,libboost-date-time-dev,libboost-program-options-dev,libboost-test-dev
Homepage: https://code.google.com/p/antpm/
Vcs-Git: https://code.google.com/p/antpm/
Vcs-Browser: https://code.google.com/p/antpm/source/browse/

Package: antpm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libstdc++6 (>=4.4.0)
Description: ANT+minus implements the ANT/ANT+/ANT-FS protocols and provides tools.
 Userspace implementation of a wire protocol similar to the ANT/ANT+/ANT-FS protocols. The
 goal is to be able to communicate with the Forerunner 310XT watch in order to retrieve
 sports tracks. The c++ implementation is currently available under both linux and win.
 Communication with watches other than the 310XT might work, but are untested. Please report
 your experience to help improving the software.
